---
layout: default
---

{{ content }}

<hr />
<div class="social" style="text-align-last: center">
  <h3>Reach Me</h3>
  <a href="https://github.com/OussamaMater" target="_blank"><i class="fab fa-github fa-2x"></i></a>
  <a href="https://twitter.com/OussamaMater" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
  <a href="https://www.facebook.com/oussama.mater.3/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
  <a href="https://www.linkedin.com/in/oussama-mater-154465198/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
  <a href="mailto:oussamamater@outlook.com"><i class="fas fa-envelope fa-2x"></i></a>
</div>
<hr />
<footer style="text-align-last: center"><small>&copy; {{ site.footer }}</small></footer>
