---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>
<b>{% include reading-time.html %}</b>

{{content}} {% if page.tags %}
<small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<hr />

<p>Thanks for reading. Follow my <a href="https://twitter.com/OussamaMater">twitter</a> for latest update</p>

<hr />
<h3>Reach Me</h3>
<a href="https://github.com/OussamaMater"><i class="fab fa-github fa-2x"></i></a>
<a href="https://twitter.com/OussamaMater"><i class="fab fa-twitter fa-2x"></i></a>

<hr />
<footer style="text-align-last: center"><small>&copy; {{ site.footer }}</small></footer>
